[Unit]
Description=BusGui Main Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=libre
ExecStart=/home/libre/start.sh

[Install]
WantedBy=multi-user.target
